@import url(styles/header.css);
@import url(styles/metricas.css);
@import url(styles/talentos.css);
@import url(styles/vagas.css);

:root {

    --cor-de-fundo: #FFFFFF;
    --fonte-principal: 'Inter';
    --cor-botao: #8E2424;
    --cor-da-fonte: #667085;
    --cor-fonte-preta: #101828;
    --cor-da-borda: #EAECF0;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}


