.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
    margin: 0 2em;
    color: var(--cor-da-fonte);
}
.menu__lista {
    display: flex;
}

.item__lista {
    padding: 0 2em;
    
}

.item__link {
    text-decoration: none;
    color: var(--cor-da-fonte);
}

.cabecalho__cadastrar {
    display: flex;
    align-items: center;
}

.cabecalho__cadastrar--entrar {
    border: none;
    background: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.cabecalho__cadastrar--botao {
    background-color: var(--cor-botao);
    border-radius: 8px;
    display: block;
    color: var(--cor-de-fundo);
    padding: 0.8em 1em;
    text-decoration: none;
    margin-left: 2em;
}

.primeira__seçao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em auto;
}

.primeira__seçao--sobre {
    color: var(--cor-botao);
    margin-bottom: 2em;
    font-weight: 600;
}

.primeira__seçao--titulo {
    color: var(--cor-fonte-preta);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1em;
}

.primeira__seçao--texto {
    color: var(--cor-da-fonte);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: auto 29vw;
    line-height: 1.5em;
}


