.secao__vagas {
    width: 50%;
    margin: 0 auto 3em;
}

.vaga__titulo {
    font-size: 20px;
    color: var(--cor-fonte-preta);
    text-align: left;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.card__vaga {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cor-da-borda);
    border-radius: 16px;
    padding: 1em 2em 2em;
    margin: 1em 0 0.5em;
}

.card__vaga-titulo {
    font-size: 18px;
    color: var(--cor-fonte-preta);
    margin: 0.5em 0 2em;
}

.card__infos-texto {
    font-size: 16px;
    color: var(--cor-da-fonte);
    margin-right: 1em;
    margin-bottom: 2em;
}